annotated-types==0.7.0
anyio==4.9.0
apturl==0.5.2
argcomplete==1.8.1
asgiref==3.11.0
astroid==3.3.8
attrs==25.4.0
bcrypt==3.2.0
bitarray==3.5.1
bitstring==4.3.1
blinker==1.4
Brlapi==0.8.3
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.4
chrome-gnome-shell==0.0.0
click==8.2.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.19.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
command-not-found==0.3
contourpy==1.3.2
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
dill==0.3.9
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.2.9
django-cors-headers==4.9.0
django-extensions==4.1
django-rest-passwordreset==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docstring-to-markdown==0.15
docutils==0.21.2
drf-spectacular==0.29.0
duplicity==0.8.21
ecdsa==0.19.1
empy==3.3.4
esptool==4.7.0
exceptiongroup==1.3.0
fastapi==0.115.13
fasteners==0.14.1
frappe-bench==5.29.0
future==0.18.2
gitdb==4.0.12
GitPython==3.1.46
graphviz==0.21
greenlet==3.1.1
gyp==0.1
h11==0.16.0
honcho==2.0.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==1.1.1
intelhex==2.3.0
isort==6.0.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==23.5.0
language-selector==0.1
lark==1.1.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.10.8
mccabe==0.7.0
monotonic==1.6
more-itertools==8.10.0
msgpack==1.1.0
netifaces==0.11.0
nose2==0.9.2
notify2==0.3
numpy==2.2.6
oauthlib==3.2.0
olefile==0.46
packaging==21.3
pandas==2.3.3
paramiko==2.9.3
parso==0.8.4
pexpect==4.8.0
pillow==12.0.0
platformdirs==4.3.6
pluggy==1.5.0
protobuf==3.12.4
psycopg2-binary==2.9.11
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.6.3
pycairo==1.20.1
pycups==2.0.1
pydantic==2.11.7
pydantic_core==2.33.2
pydotplus==2.0.2
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.10.1
pylint==3.3.4
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.5.2
pyparsing==3.3.2
pyRFC3339==1.1
pyserial==3.5
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu4.1
python-crontab==2.6.0
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.1.0
python-jose==3.5.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
reedsolo==1.7.0
referencing==0.37.0
reportlab==3.6.8
requests==2.32.5
roman==3.3
rospkg==1.6.0
rpds-py==0.30.0
rsa==4.9.1
scipy==1.15.3
SecretStorage==3.3.1
semantic-version==2.10.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sqlparse==0.5.5
starlette==0.46.2
systemd-python==234
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
uritemplate==4.2.0
urllib3==1.26.5
usb-creator==0.3.7
uv==0.9.26
uvicorn==0.34.3
wadllib==1.3.6
xdg==5
xkit==0.0.0
zipp==1.0.0
